	<div id="masthead">
		<div class="container">
			<div id="masthead-carousel" class="carousel slide">
				<div class="carousel-inner">
					<div class="active item">
						<img src="./img/masthead/masthead.jpg" alt="" />
						<div class="masthead-details">
							<h2>Masthead title goes right here!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
						</div> <!-- /masthead-details -->
					</div> <!-- /item -->
					<div class="item">
						<img src="./img/masthead/masthead-2.jpg" alt="" />
						<div class="masthead-details">
							<h2>Masthead title goes right here!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
						</div> <!-- /masthead-details -->
					</div> <!-- /item -->
					<div class="item">
						<img src="./img/masthead/masthead-4.jpg" alt="" />
						<div class="masthead-details">
							<h2>Masthead title goes right here!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
						</div> <!-- /masthead-details -->
					</div> <!-- /item -->
					<div class="item">
						<img src="./img/masthead/masthead-3.jpg" alt="" />
						<div class="masthead-details">
							<h2>Masthead title goes right here!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
						</div> <!-- /masthead-details -->
					</div> <!-- /item -->
				</div> <!-- /carousel-inner -->
				<a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
			</div> <!-- /masthead-carousel -->
		</div> <!-- /container -->
	</div> <!-- /masthead -->
